<div class="name">
<h1><strong>Ask what you wanna know!</strong></h1>
</div>

<div class="question">
<form action="answer" data-turbo="false" method="get">
  <input type="text" name="questions">
  <input type="submit" value="Ask here!">
</form>
</div>
